version: "3.8"

services:
  api:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/emlakdb
      - JWT_SECRET=super_gizli_docker_secret
      - NODE_ENV=production
    depends_on:
      - mongo
    networks:
      - app-network

  web:
    build:
      context: ./client
      args:
        - VITE_API_URL=http://localhost:5000/api
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
